

:root{
    --main-color:#871236;
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    line-height: 1.5;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    /* background: #fcf2e8; */
    background: #f1cbd6;
    /* padding-left: 30rem; */
}

section{
    padding:14rem 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.content{
    font-size: 2rem;
}

.heading{
    font-size: 4rem;
    padding-bottom: 1rem;
    color:#111;
    text-transform: uppercase;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    background:var(--main-color);
    color:#fff;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background:#111;
    letter-spacing: .2rem;
}

header{
    position: fixed;
    top:0;
    background:#222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    text-align: center;
    gap:10rem;
    width:100%;
    padding-inline:40px;
}

header .logo{
    text-transform: uppercase;
    color:#fff;
    font-size: 3rem;
    font-weight: bolder;
}
.head{
    font-size: 5rem;
}
h3 span{
    
    font-weight: bolder;
    text-transform: uppercase;
    color:var(--main-color);
}
header .logo span{
    text-transform: uppercase;
    color:var(--main-color);
}

nav{
    display: flex;
    /* gap:25px; */
    gap:4rem;
   
}

.navbar a{
    display: flex;
    
    font-size: 2rem;
    color:#fff;
    margin:2rem 0;

}

header .navbar a:hover{
    letter-spacing: .2rem;
    color:var(--main-color);
}
.about ,.skills,.portfolio{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.about-txt{
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.txt{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
    width:100rem;
}
.btn-box{
    margin-top: 20px;

}
.box-skills{
    display: flex;

}

.footer{
    margin-top: 2rem;
    font-size: 2rem;
    padding:2.5rem;
    text-align: center;
    color:#666;
    background: #fff;
}

.footer span{
    color:var(--main-color);
}